* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F9F9F9;
  color: #333333;
  font-family: 'Roboto Condensed', 'sans-serif';
}

a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #a51c35;
}

/*
	EmojiSymbols Font (c)blockworks - Kenichi Kaneko
	http://emojisymbols.com/
*/
@font-face {
    font-family: "EmojiSymbols";
    src: url("EmojiSymbols-Regular.woff") format('woff');
}

.emoji {
  font-family: 'EmojiSymbols';
}

.error {
  text-align: center;
  font-size: 1.5em;
  margin: 0 auto;
  max-width: 900px;
  padding: 10px;
}

.error .top {
  font-size: 8em;
  color: #a51c35;
  margin-bottom: 20px;
}

.error .logo {
  max-width: 200px;
  margin-bottom: 20px;
}

.error .code {
  font-family: 'Roboto', 'sans-serif';
}

.error .msg  {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #DDDDDD;
}

.error .details {
  max-width: 450px;
  margin: 10px auto 0 auto;
}
.error .details.small {
  font-size: 0.8em;
}

.error .links {
  font-size: 0.8em;
  list-style-type: none;
  text-decoration: none;
}
.error .links li {
  display: inline-block;
}
.error .links li:not(:last-child):after {
  content: '/';
}

.error .footer {
  margin-top: 50px;
  font-size: 0.5em;
  color: #666666;
}

.error .vx-logo {
  margin-top: 5px;
  max-height: 50px;
}
